.forms-container {
  display: flex;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sign-in,
.sign-up {
  margin: 5vh;
  padding: 1em;
}

.pokemon-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-content: center;
  /* transform: translate(-50%, -50%); */
}

#card_back {
  height: 100%;
}

.image {
  background-color: white;
  margin: 3px;
  border-radius: 3%;
}

#pokecard {
  background-color: whitesmoke;
  text-align: center;
  height: 200px;
  width: 150px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0, 2);
}

.fire {
  background-color: #ee8130;
}

.water {
  background-color: #6390f0;
}

.bug {
  background-color: #a6b91a;
}

.grass {
  background-color: #7ac74c;
}

.poison {
  background-color: #a33ea1;
}

.ground {
  background-color: #e2bf65;
}

.psychic {
  background-color: #f95587;
}

.normal {
  background-color: #a8a77a;
}

.electric {
  background-color: #f7d02c;
}

.ice {
  background-color: #96d9d6;
}

.fighting {
  background-color: #c22e28;
}

.flying {
  background-color: #a98ff3;
}

.rock {
  background-color: #b6a136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #b7b7ce;
}

.fairy {
  background-color: #d685ad;
}

.pokemon-game-containers {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  width: 100%;
  padding: 3em 0;
  flex-direction: column;
}

.player-pokemon {
  display: flex;

  width: calc(50% + 150px);
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
}

.enemy-pokemon {
  display: flex;
  flex-direction: row-reverse;

  width: calc(50% + 100px);
  align-items: center;
  align-self: flex-end;
  justify-content: space-between;
}

.ui.progress {
  min-width: 300px;
}

.player-pokemon-sprite {
  height: 650px;
}

.enemy-pokemon-sprite {
  height: 650px;
}

.game-menu {
  background-color: blanchedalmond;
  border-radius: 2px;
}

.stats-board {
  min-width: 300px;
}

.selector-container {
  position: absolute;
  width: 400px;
  height: 280px;
  z-index: 15;
  top: 45%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 3px;
}

.player-choices {
  display: block;
  top: 20%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  font-family: "Press Start 2P", cursive;
}

h3,
h1,
p,
h2,
button {
  font-family: "Press Start 2P", cursive;
}

button.ui-button {
  width: 50px;
}

div.label {
  color: peachpuff;
}

/* .vg {
  background-image: 'url("http://brezomadrid.es/Codepen-resources/img/pokedex-wallpaper.jpg")';
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
} */

.back-log-out {
  position: fixed;
  z-index: 2;
}


.fire:hover > {
  border: 5px #6f35fc;
} 